html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  border-style: none;
  vertical-align: top; }

input,
textarea,
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle; }

textarea {
  overflow: auto;
  min-height: 30px;
  max-height: 400px;
  resize: vertical;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  vertical-align: middle; }

button {
  cursor: pointer; }
  button[disabled] {
    cursor: default; }

button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer; }

input[disabled] {
  cursor: default; }

input[type="image"] {
  padding: 0;
  border: none; }

input[type="submit"], input[type="text"], input[type="password"], input[type="file"], input[type="search"], input[type="email"] {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="submit"],
input[type="text"] {
  -webkit-border-radius: 0; }

body {
  font: 14px/1.2 "PT Sans", Helvetica, sans-serif;
  color: #000;
  min-width: 320px;
  background: #fff; }

a {
  text-decoration: none; }

::-webkit-input-placeholder,
:-ms-input-placeholder {
  color: #a5a7ae; }

:-moz-placeholder,
::-moz-placeholder {
  color: #a5a7ae;
  opacity: 1; }

p {
  margin: 0 0 30px;
  line-height: 1.6; }

.title-slider {
  font-family: "Lato", "PT Sans", Helvetica, sans-serif;
  font-size: 50px;
  color: #fff;
  margin: 0 0 10px; }

.title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 10px 60px;
  position: relative;
  margin: 0 0 16px; }

.title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/sprite.png") no-repeat 0 -15px; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.container {
  max-width: 1366px;
  padding: 0 40px;
  margin: 0 auto; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh; }

.header {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #e60000;
  position: relative;
  z-index: 10; }
  .header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .header .logo {
    display: block; }
    .header .logo a {
      display: block;
      height: 100%; }

.main-menu > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 14px; }
  .main-menu > li:first-child {
    margin-left: 0; }

.main-menu a {
  color: #000;
  padding: 30px 27px 30px 12px;
  display: block;
  border-top: 5px solid #fff;
  font-weight: bold;
  text-transform: uppercase; }
  .main-menu a:hover {
    background: #fff;
    border-color: #2aacc8;
    color: #2aacc8; }

.main-menu ul {
  display: none;
  padding: 0 6px;
  background: #fff;
  position: absolute;
  z-index: 5;
  left: -1px;
  width: 197px; }

.main-menu li:hover ul {
  display: block;
  border: 1px solid #e8ebf1;
  -webkit-box-shadow: 0 5px 0px 0px #2aacc8;
  box-shadow: 0 5px 0px 0px #2aacc8; }
  .main-menu li:hover ul a {
    text-transform: none;
    font-weight: normal;
    border-top: none;
    border-top: 1px solid #e7e7e7; }
  .main-menu li:hover ul li:first-child a {
    border-top: none; }

.main-menu li:hover > a {
  background: #fff;
  border-color: #2aacc8;
  color: #2aacc8; }

.main-menu .drop:after {
  content: "";
  position: absolute;
  background: url("../img/sprite.png") no-repeat 0 0;
  width: 7px;
  height: 5px;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.sliders {
  background: #81e4ed;
  padding: 20px 0  14px; }
  .sliders .title-slider {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.skills {
  padding: 60px 0 50px;
  border-bottom: 1px solid #d9d9d9; }
  .skills .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .skills .skill {
    max-width: 222px;
    font-size: 13px; }
  .skills .title:before {
    width: 40px;
    height: 40px; }
  .skills .responsive:before {
    background-position: 0 -65px; }
  .skills .fully:before {
    background-position: 0 -115px; }
  .skills .ready:before {
    background-position: 0 -165px; }
  .skills .description {
    margin: 0 0 23px; }
  .skills .more {
    color: #2aacc8;
    display: inline-block;
    padding: 5px 5px 5px 15px;
    position: relative; }
    .skills .more:hover {
      opacity: 0.8; }
    .skills .more:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background: url("../img/sprite.png") no-repeat 0 -215px;
      width: 5px;
      height: 7px; }

.about {
  padding: 18px 0 39px 0;
  background: #fff; }
  .about .works {
    position: relative; }
    .about .works .title {
      padding-left: 40px; }
    .about .works .title:before {
      width: 14px;
      height: 24px;
      background-position: 0 -272px; }
  .about .slider {
    padding: 20px 0 40px;
    border-top: 1px solid #dfe1e5;
    border-bottom: 1px solid #dfe1e5; }
    .about .slider .multiple-slide {
      overflow: hidden; }
    .about .slider img {
      display: block;
      max-width: 100%;
      height: auto; }
    .about .slider li {
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin: 0 0 0 40px;
      max-width: 220px; }
      .about .slider li:nth-child(1) {
        margin-left: 0; }
      .about .slider li:hover .img-hover {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0); }
    .about .slider .img-hover {
      height: 50%;
      width: 100%;
      opacity: 0;
      -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
      transition: opacity 0.5s, -webkit-transform 0.5s;
      transition: transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #2aacc8;
      -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
      transform: translate(0, 100%); }
      .about .slider .img-hover .eye {
        width: 35px;
        height: 25px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 30%; }
      .about .slider .img-hover .chain {
        width: 20px;
        height: 26px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 30%; }
  .about .clients-block {
    padding: 21px 0 41px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .about .clients-block .testimonials {
      width: 438px; }
    .about .clients-block .title {
      padding-left: 40px; }
    .about .clients-block .title:before {
      width: 24px;
      height: 23px;
      background-position: 0 -306px; }
  .about .signature {
    font-style: italic;
    font-weight: bold; }
    .about .signature a {
      color: #000; }
      .about .signature a:hover {
        opacity: 0.8; }
  .about .clients {
    max-width: 478px; }
    .about .clients .title {
      padding-left: 40px; }
    .about .clients .title:before {
      width: 24px;
      height: 20px;
      background-position: 0 -339px; }
  .about .client {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse; }
    .about .client .row {
      display: table-row; }
      .about .client .row a {
        display: table-cell;
        height: 98px;
        vertical-align: middle;
        border: 1px solid #fff; }
        .about .client .row a:hover {
          opacity: 0.8; }
  .about .download-block {
    padding: 35px 30px 35px 40px;
    border: 1px solid #2aacc8;
    background: #e8fcfe;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .about .download-block .description {
      width: 620px;
      font-size: 16px; }

.footer {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 30px 0 40px;
  border-top: 1px solid #d9d9d9; }
  .footer .footer-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0 35px; }
  .footer .footer-about {
    max-width: 237px; }
  .footer .explore {
    max-width: 100px; }
    .footer .explore li {
      margin: 0 0 13px; }
      .footer .explore li a {
        color: #000; }
        .footer .explore li a:hover {
          color: #2aacc8; }
  .footer .browse {
    max-width: 115px; }
    .footer .browse li {
      margin: 0 0 13px; }
      .footer .browse li a {
        color: #000; }
        .footer .browse li a:hover {
          color: #2aacc8; }
  .footer .contact {
    max-width: 145px; }
    .footer .contact address {
      margin: 0 0 20px; }
    .footer .contact strong {
      font-weight: bold; }
    .footer .contact dl a {
      color: #000; }
      .footer .contact dl a:hover {
        color: #2aacc8; }
  .footer .title {
    padding-left: 0; }
  .footer .footer-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer .footer-bottom .description {
      max-width: 645px; }

.links {
  max-width: 189px; }

.links-holder {
  margin: 0 0 0 -30px; }
  .links-holder .link {
    width: 50px;
    height: 50px;
    background: url("../img/sprite.png") no-repeat 0 -404px;
    display: inline-block;
    margin: 0 0 10px 20px; }
    .links-holder .link a {
      display: block;
      height: 100%; }
    .links-holder .link:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .links-holder .globe {
    background-position: 0 -462px; }
  .links-holder .pip {
    background-position: 0 -520px; }
  .links-holder .linkedin {
    background-position: 0 -580px; }
  .links-holder .skype {
    background-position: 0 -638px; }
  .links-holder .conect-link {
    background-position: 0 -697px; }

.bxslider {
  position: relative; }
  .bxslider img {
    width: 100%;
    height: auto;
    display: block; }

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 12px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #71a3a7;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

button.slick-prev.slick-arrow:before {
  left: 25%; }

button.slick-next.slick-arrow:before {
  background-position: 0 -252px;
  right: 32%; }

button.slick-prev.slick-arrow {
  right: 40px; }

button.slick-arrow {
  position: absolute;
  top: 4%;
  right: 0;
  background: #81e4ed;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  font-size: 0; }
  button.slick-arrow:before {
    content: "";
    background: url("../img/sprite.png") no-repeat 0 -232px;
    position: absolute;
    width: 7px;
    height: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

button.slick-arrow:hover {
  opacity: 0.8; }

.btn-download {
  position: relative;
  font-size: 18px;
  display: inline-block;
  color: #000;
  padding: 19px 19px 19px 70px;
  text-transform: uppercase;
  background: #80e3ec;
  background: -webkit-linear-gradient(top, #80e3ec 0%, #33b1cc 99%);
  background: -webkit-gradient(linear, left top, left bottom, from(#80e3ec), color-stop(99%, #33b1cc));
  background: linear-gradient(to bottom, #80e3ec 0%, #33b1cc 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e3ec', endColorstr='#33b1cc',GradientType=0 );
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2aacc8;
  -webkit-box-shadow: 0 1px 1px #fff inset, 0px 3px 3px #c9dadc;
  box-shadow: 0 1px 1px #fff inset, 0px 3px 3px #c9dadc; }
  .btn-download:hover {
    color: #fff;
    opacity: 0.8; }
  .btn-download:before {
    content: "";
    width: 29px;
    height: 25px;
    position: absolute;
    left: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("../img/sprite.png") no-repeat 0 -369px; }

/*# sourceMappingURL=maps/all.css.map */
