.about {
	.menu {
		padding: 30px 0;
		li {
			display: inline-block;
			vertical-align: top;
			padding: 0 22px;
			position: relative;
			&:first-child {
				padding-left: 0;
			}
			&:after {
				content: "/";
				position: absolute;
				left: 0;
				top: 0;
			}
			&:first-child:after {
				content: "";
			}
		}
		a {
			color: #929292;
			font-size: $font-size -2;
		}
	}

}
.menu-slider {
	max-width: 1366px;
	margin: 0 auto;
}
.slide {
	position: relative;
	.title-block {
		padding: 30px 80px;
	}
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
}
.fp-controlArrow {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
	position: absolute;
	z-index: 8;
	bottom: 28.5%;
	cursor: pointer;
	width: 48px;
	height: 48px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: $red;
	&.fp-prev {
		right: 138px;
		&:after {
			content: '\f053';
			font: 14px/16px 'FontAwesome';
			position: absolute;
			top: 50%;
			left: 35%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			color: $white;
		}
	}
	&.fp-next {
		right: 80px;
		&:after {
			content: '\f054';
			font: 14px/16px 'FontAwesome';
			position: absolute;
			top: 50%;
			right : 35%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			color: $white;
		}
	}
}
.advantages {
	h3 {
		width: 795px;
	}
}
.advantage {
	.column  {
		width: 32%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		overflow: hidden;
	}
	.row {
		-webkit-flex-basis: 210px;
		-ms-flex-preferred-size: 210px;
		flex-basis: 210px;
		overflow: hidden;
	}
	.text-block {
		.number {
			display: inline-block;
			vertical-align: top;
		}
		p {
			display: inline-block;
			vertical-align: top;
		}
	}
	.pos-1 {
		position: relative;
		&:after {
			content: '';
			background: url('../img/img-s1.png') no-repeat;
			position: absolute;
			top: 0;
			right: 0;
			width: 297px;
			height: 198px;
		}
	}
}
.info {
	.container {
		padding-right: 200px;
	}
}
.info-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px 0 10px;
	border-top: 1px solid #eaeaea;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: -2px;
		border-top: 3px solid $red;
		width: 7%;
	}
	&:after {
		content: '\f078';
		font: 14px/16px 'FontAwesome';
		position: absolute;
		top: 50%;
		right: -100px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.quantity {
		font-size: $font-size+26;
		font-weight: bold;
	}
	.description {
		color: #8b8b8b;
	}
}
