.footer {
	padding: 30px 0 40px;
	border-top: 1px solid #d9d9d9;
	.footer-menu {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0 0 35px;
	}
	.footer-about {
		max-width: 237px;
	}
	.explore {
		max-width: 100px;
		li {
			margin: 0 0 13px;
			a {
				color: $black;
				&:hover {
					color: $blue;
				}
			}
		}
	}
	.browse {
		max-width: 115px;
		li {
			margin: 0 0 13px;
			a {
				color: $black;
				&:hover {
					color: $blue;
				}
			}
		}
	}
	.contact {
		max-width: 145px;
		address {
			margin: 0 0 20px;
		}
		strong {
			font-weight: bold;
		}
		dl a {
			color: $black;
			&:hover {
				color: $blue;
			}
		}
	}
	.title {
		padding-left: 0;
	}
	
	.footer-bottom {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		.description {
			max-width: 645px;
		}
	}
}

.links {
		max-width: 189px;
	}
	.links-holder {
		margin: 0 0 0 -30px;
		.link {
			width: 50px;
			height: 50px;
			background: url('../img/sprite.png') no-repeat 0 -404px;
			display: inline-block;
			margin: 0 0 10px 20px;
			a {
				display: block;
				height: 100%;
			}
			&:hover {
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
		.globe {
			background-position: 0 -462px;
		}
		.pip {
			background-position: 0 -520px;
		}
		.linkedin {
			background-position: 0 -580px;
		}
		.skype {
			background-position: 0 -638px;
		}
		.conect-link {
			background-position: 0 -697px;
		}
	}