.header {
	background: $red;
	color: $white;
	.container {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		padding-left: 40px;
		padding-right: 40px;
	}
	.logo {
		display: block;
		a {
			display: block;
			height: 100%;
		}
	}
}
.header, .info {
	height: auto;
	position: fixed;
	width: 100%;
	z-index: 9;
}
.section.fp-section {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.header {
	top: 0;
}
.info {
	bottom: 0;
}