.main-menu {
	li {
		display: inline-block;
		vertical-align: top;
	}
	a {
		color: $white;
		display: block;
		position: relative;
		padding: 30px 17px;
		&:hover {
			font-weight: bold;
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 3px;
			background: $white;
			-webkit-transform: rotateY(90deg);
			transform: rotateY(90deg);
			-webkit-transition: -webkit-transform .4s linear;
			transition: -webkit-transform .4s linear;
			transition: transform .4s linear;
			transition: transform .4s linear, -webkit-transform .4s linear;
		}
		&:hover:after {
			-webkit-transform: rotateY(0deg);
			transform: rotateY(0deg);
		}
	}
}
.contacts  {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	.links {
		a {
			color: $white;
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 34px;
			font-size: $font-size+5px;
		}
	}
	.contact-phone {
		margin: 0 0 0 44px;
	}
	.phone {
		font-size: $font-size+5;
		position: relative;
		&:after {
			content: '\f107';
			font: 21px/25px 'FontAwesome';
			position: absolute;
			right: -22px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
	.language {
		margin:  0 0 0 51px;
		padding: 0 18px;
		position: relative;
		&:after {
			content: '\f107';
			font: 21px/25px 'FontAwesome';
			position: absolute;
			right: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
}


