$black: #000;
$white: #fff;
$blue: #2aacc8;
$red: #e60000;

$bg-color: $white;

$font-sans: 'PT Sans', Helvetica, sans-serif;
$font-serif: Georgia, serif;
$font-color: $black;
$line-height: 1.2;
$font-size: 14px;

$desktop: 1024px;
$tablet: 960px;
$mobile: 767px;
$mobile-small: 600px;